.header {
    background-color: white;
}

.container {}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header__logo {}

.header__nav {}

.header__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
}

.header__items {
    display: flex;
    gap: 30px;
}

.header__item {}

.header__search {
    display: flex;
    gap: 20px;
}

.header__search-btn {}

.header__search-input {
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.header__language {
    border: none;
    appearance: base-select;
}

.header__language::picker-icon {
    color: #5DB7DE;
}

.header__option {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
}