.hero {
    background-image: url(../../images/port.png);
    background-repeat: no-repeat;
    padding: 113px 0;
    background-size: cover;
}

.container {}

.hero__wrapper {
    justify-content: space-between;
display: flex;
align-items: center;
}

.hero__content {
margin-top: -46px;
}

.hero__title {
    font-weight: 700;
    font-size: clamp(1.5rem, 1.175rem + 1.625vw, 3.125rem);
    line-height: 140%;
    color: var(--white);
    max-width: 526px;
    margin-bottom: 40px;
    letter-spacing: clamp(-0.05rem, -0.0137rem + -0.1813vw, -0.23125rem);
}

.hero__title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    margin-bottom: 60px;
    max-width: 338px;
}

.hero__about {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
}


.hero__items {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 636px;
    --elements-hero: 2;
}

.hero__item {
    border-radius: 20px;
    padding: 30px 35px;
    min-height: 250px;
    background: var(--blue);
    flex-direction: column;
    width: calc((100% - (var(--elements-hero) - 1) * 24px) / (var(--elements-hero)));
}

.hero__item-subtitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 118px;
}

.hero__item-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: var(--white);
    letter-spacing: -1.3px;
}

@media(max-width: 1024px) {
    .hero__wrapper {
        flex-direction: column;
       }
    
       .hero__title {
       text-align: center;
       }
    
       .hero__content {
        display: flex;
        flex-direction: column;
       align-items: center;
       }

       .hero__about {
        margin-bottom: 40px;
       }

        .hero__title-text {
            text-align: center;
        }

        .hero__item {
            display: flex;
            justify-content: space-between;
        }
    } 

    @media(max-width: 576px) {
        .hero {
            padding: 80px 0 60px;
        }
        .hero__item-text {
            font-size: 16px;
        }

        .hero__item {
            min-height: 200px;
        }

        .hero__item-subtitle {
            margin-bottom: none;
        }
    }

    @media(max-width: 440px) {
        .hero__item {
            --elements-hero: 1;
        }

        .hero__item-text {
            letter-spacing: 0;
        }
    }